.login-page-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 85vh;
    width: 100vw;
    padding: 8vh 0;
    background: var(--background-service);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 70%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-page-wrapper h2{
    font-size: 3vh;
    text-align: center;
    padding: 4vh 0;
    color: black;
}
.login-form-wrapper{
    margin: 0 auto;
    width: 70%;
    padding: 4vh 0;
}
.login-form-btn-block{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.5rem;
}

.login-form-btn-block button{
    /* max-width: 50%; */
    /* min-width: 45%; */
    justify-content: center;
}