@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}

@property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
}

@property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
}

@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, .8);
        opacity: 0;
    }

    100% {
        opacity: 1;
        background: rgba(0, 0, 0, .8);
    }
}

@keyframes modalContentFadeIn {
    0% {
        opacity: 0;
        /* top:-750px; */
        top: 0;
    }

    100% {
        opacity: 1;
        top: 0;

    }
}

@keyframes borderRotate {
    0% {--angle: 320deg;}
    50% {--angle: 0deg;}
    100% {--angle: -320deg;}
}

:root {
    --d: 700ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(255, 255, 255, 0.589);
    --c2: rgba(117, 117, 117, 0.1);
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0);
    animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content-wrapper {
    border: 0.15rem solid;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0.5rem;
    /*background-color:transparent;*/
    animation: borderRotate var(--d) linear forwards;
    /*animation: modalFadeIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;*/
}

.modal-content-wrapper:nth-child(2) {
    border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
    animation: borderRadial var(--d) linear infinite forwards;
}

.modal-content {
    opacity: 0;
    position: relative;
    animation: modalContentFadeIn 0.25s 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    /* width: 100%; */
    min-height: 50%;
    /* border-radius: 0.5rem; */
    background-color: rgba(250, 250, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vh;
    margin: 0.25rem;
}

.btn-modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    font-size: 5vh;
    /*color: #1b42a6;*/
    color: var(--main-color);
}

.modal-card-wrapper {
    display: flex;
    /* overflow: hidden; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 100%;
    gap: 0.5vh;
    flex: 1;
    line-height: 4vh;
}

.modal-card-img-block {
    flex: 6;
    position: relative;
    width: 100%;
    aspect-ratio: 4/3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sale {
    position: absolute;
    top: -0rem;
    left: -0rem;
    height: 15%;
    aspect-ratio: 1/1;
    z-index: 11;
    background-image: url(./../img/sale.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    justify-content: end;
    font-size: 2rem;

}

.modal-card-description-block {
    width: 100%;
    margin: 1.25vh 0;
}

.modal-card-description-wrapper {
    /* width: 100%; */
    padding: 2vw 1.5vw;
    border: 0.25vw solid rgba(128, 128, 128, 0.212);
    border-radius: 0.5vw;
    max-height: 10vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-card-title {
    text-align: start;
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
    font-weight: 600;
    color: var(--main-color);
}

.modal-card-description {
    opacity: 0.6;
    font-weight: 600;
    line-height: 2.25rem;
}

.modal-card-subtitle {
    text-align: start;
    width: 100%;
    font-size: 5vw;
    line-height: 5.2vw;
    font-weight: 600;
    opacity: 0.5;
    /* margin-bottom: 0.75rem; */
}

.modal-card-description-nutritional {
    padding: 1rem 0;
    font-size: 1.5rem;
}

.nutritional-section {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.384);
    padding: 0.5rem;
}

.nutritional-section>div {
    /* display: flex;
    justify-content: space-between; */
    flex: 1;
    /*line-height: 2.25rem;*/
}

.nutritional-section>div:last-child {
    text-align: end;

}

.nutritional-row>div>div:last-child {
    text-align: end;

}

.nutritional-section div:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.384);
    ;

}

.modal-card-price-block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0.5vh 0.5rem 1vh;
    font-size: 2.75rem;
    font-family: Russo, san-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.modal-card-price-block .current-price {
    /* font-weight: 700; */
}

.modal-card-price-block .old-price {
    display: flex;
    align-items: center;
    opacity: 0.4;
    font-size: 1.75rem;
}

.modal-card-control-block .card-control-panel {
    font-weight: 700;
    font-size: 2.5vh;
}

.modal-card-control-block {
    /* border: 1px solid red; */
    flex: 1;
    width: 100%;
}

.card-control-panel-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 7vw;
}

.card-control-panel-wrapper button {
    background: none;
    background: var(--button-background);
    color: black;
    box-shadow: none;
}

.modal-card-control-block .card-control-panel {
    padding: 1.75vw 2vw;
}

.modal-card-control-block button {
    flex: 2;
    justify-content: center;
    font-size: 5.5vw;
}

.card-control-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    margin: 0.25rem 0rem;
    border: 2px solid rgba(73, 73, 73, 0.459);
    border-radius: 2rem;
    padding: 0.75rem;
    /* width: 50%; */
    flex: 1;
    font-weight: 700;
    /* box-shadow: 0px 12px 20px -18px rgba(5, 5, 5, 0.788); */
    /* background:
        radial-gradient(circle at 50% 90%,
            #88888800,
            #00000011); */
}

.card-control-panel span, .card-control-panel div{
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media only screen and (max-width: 768px) {
    .modal-card-img-block {
        max-height: 25vh;
    }
    .modal-card-price-block .current-price {
        font-size: 3.5vh;
    }

    .modal-card-title {
        text-align: start;
        width: 100%;
        font-size: 6.25vw;
        line-height: 6.5vw;
        margin: 0.5vh auto;
        font-weight: 600;
        color: var(--main-color);
        opacity: 0.9;
    }

    .modal-card-description {
        opacity: 0.6;
        font-weight: 600;
        line-height: 4.5vw;
        font-size: 3.25vw;
    }

    .modal-content-wrapper {
        border: 0.15rem solid;
        border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.75turn, var(--c2) 0.25turn, var(--c2) 0.25turn) 30;
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 0.5rem;
        /*background-color:transparent;*/
        animation: borderRotate var(--d) ease-in-out forwards;
        /*animation: modalFadeIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;*/
    }

    .modal-card-control-block .card-control-panel {
        flex: 3;
        padding: 1.75vw 2.5vw;
        font-size: 5.5vw;
    }
}