.start-page-wrapper {
    height: 92vh;
    max-height: 92vh;
}

.start-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100%;
    color: var(--secondary-color);
    font-size: 4rem;
}

.start-page-container > div:first-child, .start-page-container > div:last-child {
    height: 15vh;
}

.start-page-logo {
    width: 80%;
    background-image: var(--logo-start-screen);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 3rem auto;
    position: relative;
}

.start-page-logo-label {
    height: 5rem;
    width: 30vw;
    position: absolute;
    bottom: -2rem;
    right: 0;
    font-size: 1.35rem;
    font-family: Russo, sans-serif;
    text-align: end;

}

.start-page-logo-label span {
    padding: 0 1rem;

}

.start-page-logo-label .header-logo-block {
    width: 30vw;
}

.start-page-logo-label .header-logo-block .header-logo {
    background-image: var(--logo-header);
}

.start-page-icon {
    flex: 1;
    font-size: 12.5rem;
    color: var(--secondary-color);
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.start-page-icon svg {
    position: relative;
    z-index: 4;
}

.start-page-icon .waves {
    z-index: 2;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
}

.waves {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/1;
}

.start-page-icon .waves:before,
.start-page-icon .waves:after {
    content: '';
    display: block;
    position: absolute;
    height: 200px;
    aspect-ratio: 1/1;
    border: 5px solid var(--secondary-color);
    border-radius: 50%;
}


.start-page-icon .waves:before {
    opacity: 0;
    animation: rippleStart 2s linear infinite;
}

.start-page-icon .waves:after {
    opacity: 0;
    animation: rippleStart 2s linear .35s infinite;
}

.waves .finger-icon {
    height: 5vh;
    aspect-ratio: 1/1;
    position: fixed;
    margin: 0 auto;
    background-image: url('./../img/finger.png');
    background-repeat: no-repeat;
    background-size: contain;
    flex: 1;
    opacity: 0.7;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1);
    animation: finger-tap 2s linear .1s infinite;
}

@keyframes rippleStart {
    0% {
        opacity: 0;
        transform: scale(0);
        border: 1px solid var(--secondary-color);
    }

    25% {
        transform: scale(2);
        opacity: 0.2;
        border: 2px solid var(--secondary-color);
    }

    50% {
        transform: scale(4);
        opacity: 0.15;
        border: 2px solid var(--secondary-color);
        opacity: 0.05;
    }

    75% {
        transform: scale(5.75);
        opacity: 0.005;
    }

    100% {
        transform: scale(6.25);
        opacity: 0;
    }
}

@keyframes finger-tap {
    0% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1) scale(1.125);
    }

    7% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, -0.01, 1, 0, 1, 0, 0, 0, 0, 1) scale(0.75);
    }

    15% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1) scale(1.125);
    }

    100% {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1) scale(1.125);
    }
}

@media only screen and (max-width: 768px) {
    .waves {
        background-color: var(--secondary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        aspect-ratio: 4/3;
    }
    .start-page-icon .waves:before, .start-page-icon .waves:after {
        content: '';
        display: block;
        position: absolute;
        height: 7vh;
        aspect-ratio: 1/1;
        border: 5px solid var(--secondary-color);
        border-radius: 50%;
    }

    .start-page-logo {
        width: 80%;
        background-image: var(--logo-start-screen);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 3vh auto;
        position: relative;
    }

    .waves .finger-icon {
        height: 10vh;
        aspect-ratio: 1/1;
        margin: 0 auto;
        background-image: url(/src/assets/img/finger.png);
        background-repeat: no-repeat;
        background-size: contain;
        /* flex: 0; */
        opacity: 0.7;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1);
        animation: finger-tap 2s linear .1s infinite;
    }
}